@import '../styles/theme.scss';

.root {
  position: relative;
  .player {
    position: relative;
    width: 100%;
    background: black;
  }
  .box {
    width: 100%;
    height: 100%;
    // background: $palettePrimaryLight;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 28px;
    color: $palettePrimaryContrastText;
  }
  .loading {
    font-size: 36px;
  }
  .play-icon {
    width: 100px;
    height: 100px;
  }

  .options {
    border-radius: #{$spacingUnit}px;
    position: absolute;
    bottom: #{$spacingUnit * 11}px;
    right: #{$spacingUnit * 14}px;
    display: flex;
    flex-direction: column;
    background: $palettePrimaryLight;
    opacity: 0.6;
    font-size: 28px;
    color: $palettePrimaryContrastText;
    padding: #{$spacingUnit * 2}px;
    .option {
      padding: #{$spacingUnit * 3}px #{$spacingUnit * 4}px;
      border-bottom: 2px solid $palettePrimaryContrastText;
    }
  }
  .controls {
    width: 100%;
    background: black;
    opacity: 0.8;
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 0px;
    align-items: center;
    padding: #{$spacingUnit}px 0;
    .left-box {
      padding-left: #{$spacingUnit * 4}px;
      display: flex;
      align-items: center;
      .title {
        color: $palettePrimaryContrastText;
        font-size: 30px;
        padding-left: #{$spacingUnit * 4}px;
      }
    }

    .actions {
      padding-right: #{$spacingUnit * 4}px;
      display: flex;
      color: $palettePrimaryContrastText;
      justify-content: flex-end;
      font-size: 30px;

      .action {
        margin: 0 #{$spacingUnit * 3}px;
      }
      .quality {
        display: flex;
        position: relative;
        align-items: center;
        .name {
          font-size: 28px;
          margin-right: #{$spacingUnit / 2}px;
        }
        .arrow {
          width: 30px;
          height: 30px;
        }
      }
    }
  }
}
.image {
  width: 56px;
  height: 56px;
}
