@import '../../../styles/theme.scss';

.root {
  display: flex;
  flex-direction: column;
  background: $paletteBackgroundDefault;

  .notice,
  .spacer {
    position: relative;
  }

  .notices {
    .ok {
      margin-bottom: 16px;
    }
    .inherit {
      background: #000;
      color: #fff;
    }
    .noticebar {
      margin-top: 20px;
    }
    .notice {
      margin-top: 20px;
    }
  }
  .title {
    font-size: 30px;
    font-weight: 500;
    background: #fff;
    border-left: 10px solid #03a9f4;
    border-bottom: 1px solid #eee;
    padding: 16px;
    margin: 16px 0px;
  }
}
