@import '../styles/theme.scss';

.root{
  background: #{$paletteBackgroundPaper};
  .header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: #{$spacingUnit * 3}px;
    border-bottom: solid 1px $paletteTextDivider;
    .title{
      display: flex;
      align-items: center;
      .label{
        margin-right: #{$spacingUnit}px;
      }
    }
  }
  .body{

  }
}