@import '../../style/variables/default.scss';
@import '../../style/mixins/index.scss';

$font-size: $font-size-lg;

.at-count-down {
  display: inline-block;
  min-height: $font-size;

  &__item {
    display: inline-flex;
    align-items: center;
  }

  &__time-box {
    display: inline-block;
    text-align: center;
    min-width: $font-size;
    font: {
      size: $font-size;
      family: CountDown;
      style: normal;
      weight: 400;
      variant: normal;
    }

    text-transform: none;
    text-rendering: auto;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    vertical-align: middle;
  }

  &__separator {
    font-size: $font-size-base;
    display: inline-flex;
    align-items: center;
    text-align: justify;
    padding: 0 $spacing-v-xs;
  }

  &--card {
    .at-count-down__time-box {
      padding: $spacing-v-xs 0;
      border: 1px solid $color-border-grey;
      border-radius: $border-radius-md;
      color: #ff4949;
      display: inline-block;
      background-color: #fff;
      position: relative;

      .at-count-down__time {
        position: relative;
        z-index: $zindex-divider + 1;
      }

      &::after {
        position: absolute;
        content: '';
        width: 100%;
        height: 1px;
        top: 50%;
        left: 0;
        z-index: $zindex-divider;
        background-color: $color-grey-3;
      }
    }
  }
}
