@import '../style/mixins/index.scss';
@import '../style/theme/default.scss';
@import '../styles/theme.scss';

$height: 28 * 2;
$inputPadding: 25 * 2;
$fontSize: 14 * 2;
$placeholderPadding: 5 * 2;

.at-search-bar {
  display: flex;
  align-items: center;
  height: #{$height}px;
  padding: #{$fontSize / 2}px;
  box-sizing: content-box;
  overflow: hidden;
  background-color: $color-bg;
  // @include hairline-bottom();

  &__container {
    position: relative;
    flex: 1;
    overflow: hidden;
    width: 100%;
    height: #{$height}px;
    background-color: $color-bg-grey;
    border-radius: #{$height/2}px;
  }

  &__placeholder_wrap {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    opacity: 1;
    display: flex;
    align-self: center;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    width: 100%;
    height: #{$height}px;
    line-height: 0;
    padding: 0 #{$placeholderPadding}px;
    transition: width 0.3s;
  }

  &__placeholder {
    margin-left: #{$placeholderPadding}px;
    color: $color-grey-2;
    font-size: #{$fontSize}px;
  }

  &__input {
    position: absolute;
    width: 100%;
    height: #{$height}px !important;
    top: 0;
    left: 0;
    display: block;
    font-size: #{$fontSize}px !important;
    padding: 5px #{$inputPadding + $placeholderPadding}px;
    z-index: $zindex-form;
    transition: width 0.3s;
    text-align: left;
    box-sizing: border-box;
    color: $color-black-0;
    background-color: transparent;
  }

  &__clear {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    right: #{$placeholderPadding}px;
    z-index: $zindex-form;
    height: #{$height}px;
    width: #{$inputPadding}px;
    line-height: 0;
    vertical-align: middle;
  }

  &__action {
    display: block;
    flex: none;
    // background-color: $palettePrimaryMain;
    opacity: 0;
    height: #{$height}px;
    line-height: #{$height}px;
    font-size: #{$fontSize}px;
    padding: 0 #{$fontSize / 2}px;
    margin-left: #{$fontSize / 2}px;
    // color: #fff;
    text-align: right;
    // border-radius: 5px;
    transition: margin-right 0.3s, opacity 0.3s;
  }

  &--fixed {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: $zindex-nav;
  }

  &.colorPrimary {
    background-color: $palettePrimaryMain;
    .at-search-bar {
      &__container {
        background-color: $palettePrimaryDark;
      }
      &__input,
      &__action {
        color: $palettePrimaryContrastText;
      }
      &__placeholder {
        color: $paletteTextHint2;
      }
    }
  }
  &.colorSecondary {
    background-color: $paletteSecondaryMain;
    .at-search-bar {
      &__container {
        background-color: $paletteSecondaryDark;
      }
      &__input,
      &__action {
        color: $paletteSecondaryContrastText;
      }
      &__placeholder {
        color: $paletteTextHint2;
      }
    }
  }
  &.colorAction {
    background-color: $paletteActionSelected;
    .at-search-bar {
      &__container {
        background-color: $paletteActionDisabledBackground;
      }
      &__input,
      &__action {
        color: $paletteTextPrimary;
      }
      &__placeholder {
        color: $paletteTextHint;
      }
    }
  }
  &.colorError {
    background-color: $paletteErrorMain;
    .at-search-bar {
      &__container {
        background-color: $paletteErrorDark;
      }
      &__input,
      &__action {
        color: $paletteErrorContrastText;
      }
      &__placeholder {
        color: $paletteTextHint2;
      }
    }
  }
  &.colorDisabled {
    background-color: $paletteActionDisabled;
    .at-search-bar {
      &__container {
        background-color: $paletteActionDisabledBackground;
      }
      &__input,
      &__action {
        color: $paletteTextPrimary;
      }
      &__placeholder {
        color: $paletteTextHint;
      }
    }
  }
  &.colorSuccess {
    background-color: $paletteSuccessMain;
    .at-search-bar {
      &__container {
        background-color: $paletteSuccessDark;
      }
      &__input,
      &__action {
        color: $paletteSuccessContrastText;
      }
      &__placeholder {
        color: $paletteTextHint2;
      }
    }
  }
  &.colorWarning {
    background-color: $paletteWarningMain;
    .at-search-bar {
      &__container {
        background-color: $paletteWarningDark;
      }
      &__input,
      &__action {
        color: $paletteWarningContrastText;
      }
      &__placeholder {
        color: $paletteTextHint2;
      }
    }
  }
  &.colorProgress {
    background-color: $paletteProgressMain;
    .at-search-bar {
      &__container {
        background-color: $paletteProgressDark;
      }
      &__input,
      &__action {
        color: $paletteProgressContrastText;
      }
      &__placeholder {
        color: $paletteTextHint2;
      }
    }
  }
  &.colorDefault {
    background-color: $paletteBackgroundDefault;
    .at-search-bar {
      &__container {
        background-color: $paletteBackgroundPaper;
      }
      &__input,
      &__action {
        color: $paletteTextPrimary;
      }
      &__action {
        color: $paletteTextPrimary;
      }
      &__placeholder {
        color: $paletteTextHint;
      }
    }
  }
}
