@import '../styles/theme.scss';

.at-float-bar{
    min-height: 50px;
    max-width: 80%;
    border-radius: 50%;
    text-align: center;
    &--fixed-top{
        position: fixed;
        top: 60;
        left: 0;
        right: 0;
        z-index: #{$zIndexAppBar - 10};
        padding-bottom: constant(safe-area-inset-bottom);
        padding-bottom: env(safe-area-inset-bottom);
    }
    &--fixed-bottom{
        position: fixed;
        bottom: 60;
        left: 0;
        right: 0;
        z-index: #{$zIndexAppBar - 10};
        padding-bottom: constant(safe-area-inset-bottom);
        padding-bottom: env(safe-area-inset-bottom);
    }
}