.stars {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;

  line-height: 100%;

  &.large {
    font: {
      size: 40px;
    }
  }
  &.medium,
  &.normal {
    font: {
      size: 24px;
    }
  }
  &.small {
    font: {
      size: 16px;
    }
  }
  &.xs {
    font: {
      size: 12px;
    }
  }
}
