@import './fonts.scss';

@import './theme.scss';

/* The Color of 7FRESH Brand */
$color-brand: $palettePrimaryMain;
$color-brand-light: $palettePrimaryLight;
$color-brand-dark: $palettePrimaryDark;

/* 辅助色 */
$color-success: $paletteSuccessMain;
$color-error: $paletteErrorMain;
$color-warning: $paletteWarningMain;
$color-info: $palettePrimaryLight;

/* Color Palette */
$color-black-0: $paletteCommonBlack !default;
$color-black-1: $paletteGreyA400 !default;
$color-black-2: $paletteGreyA700 !default;
$color-black-3: $paletteGreyA200 !default;

$color-grey-0: $paletteGrey900 !default;
$color-grey-1: $paletteGrey700 !default;
$color-grey-2: $paletteGrey500 !default;
$color-grey-3: $paletteGrey300 !default;
$color-grey-4: $paletteGrey200 !default;
$color-grey-5: $paletteGrey100 !default;
$color-grey-6: $paletteGrey50 !default;

$color-white: $paletteCommonWhite !default;

/* Text Color */
$color-text-base: $paletteTextPrimary !default; // 文字的基本色
$color-text-base-inverse: $paletteTextPrimary2 !default; // 反色
$color-text-secondary: $paletteTextSecondary !default; // 辅助色
$color-text-placeholder: $paletteTextHint !default;
$color-text-disabled: $paletteTextDisabled !default;
$color-text-title: $paletteTextPrimary !default; // 文章标题
$color-text-paragraph: $paletteTextSecondary !default; // 文章段落

/* Link */
$color-link: $palettePrimaryMain !default;
$color-link-hover: $palettePrimaryLight !default;
$color-link-active: $palettePrimaryDark !default;
$color-link-disabled: $paletteActionDisabled !default;

/* 背景色 */
$color-bg: $paletteBackgroundPaper !default;
$color-bg-base: $paletteBackgroundDefault !default;
$color-bg-light: $paletteBackgroundDefault !default;
$color-bg-lighter: tint($color-bg-light, 50%) !default;
$color-bg-grey: $paletteBackgroundDefault !default;

/* 边框颜色 */
$color-border-base: $paletteGrey200 !default;
$color-border-split: tint($color-border-base, 20%) !default; // 分割线
$color-border-light: tint($color-border-base, 30%) !default;
$color-border-lighter: tint($color-border-base, 50%) !default;
$color-border-lightest: tint($color-border-base, 80%) !default;
$color-border-grey: $paletteGrey300 !default;

/* 图标颜色 */
$color-icon-base: $paletteGrey300 !default;

/* z-index */
$zindex-divider: $zIndexDivider !default;
$zindex-steps: $zIndexMobileStepper !default;
$zindex-tab: $zIndexBackTop !default;
$zindex-form: $zIndexDropdown !default;
$zindex-nav: $zIndexToolBar !default;
$zindex-search-bar: $zIndexToolBar !default;
$zindex-indexes: $zIndexAppBar !default;
$zindex-flot-layout: #{$zIndexDrawer - 10} !default;
$zindex-drawer: $zIndexDrawer !default;
$zindex-modal: $zIndexModal !default;
$zindex-action-sheet: #{$zIndexModal + 10} !default;
$zindex-picker: #{$zIndexModal + 10} !default;
$zindex-curtain: $zIndexCurtain !default;
$zindex-message: $zIndexSnackbar !default;
$zindex-toast: $zIndexTooltip !default;

/* 组件样式 */
$at-button-border-color-primary: transparent;
$at-button-bg: linear-gradient(90deg, $palettePrimaryMain, $palettePrimaryMain 100%);

$at-message-bg-color: $paletteGrey500;

$at-tag-color: $color-text-base;
$at-tag-color-primary: $color-brand-light;
$at-tag-color-primary-active: $color-brand-light;
$at-tag-border-color: $paletteGrey400;
$at-tag-bg-color: $paletteBackgroundPaper;
$at-tag-bg-color-primary: $paletteGrey200;
$at-tag-bg-color-primary-active: $paletteGrey200;

$at-range-track-bg-color: $color-brand-light;

$at-indexes-nav-color: $color-text-title;

$at-steps-bg-color-active: $color-brand-light;

$at-timeline-dot-border-color: $color-brand;

$at-calendar-day-color: $color-text-base;

@import '../style/index.scss';
