@import "../../taro-material/styles/theme.scss";

.root{
  display: flex;
  flex-direction: column;
  background: $paletteBackgroundDefault;

  .watermark, .panel, .input, .picker, .form, .upload, .svgs, .actions, .tags, .postmark, .spacer{
    position: relative;
  }
  .body {
    min-height: calc(100vh * 4);

    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify: center;
  }
  
  .title {
    font-size: 30px;
    font-weight: 500;
    background: $paletteBackgroundDefault;
    border-left: 10px solid $palettePrimaryMain;
    padding: #{$spacingUnit * 2}px;
    text-align: center;
  }
  
  .panel{
    margin: #{$spacingUnit * 2}px 0;
  }

  .affix{
    border: 1px solid $palettePrimaryDark;
    background: $palettePrimaryMain;
    color: $palettePrimaryContrastText;
  }

  .spacer{
    min-height: calc(100vh);
  }
}
