@import '../style/mixins/index.scss';
@import '../style/variables/default.scss';
@import '../styles/theme.scss';

.at-switch {
  flex: 1;

  &__container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    position: relative;
  }

  &__title {
    vertical-align: middle;
    text-align: left;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    flex: 1;
  }

  &__required {
    margin-left: #{$spacingUnit}px;
    color: #{$paletteSecondaryMain};
  }

  &__switch {
    display: inline-block;
  }

  &__mask {
    position: absolute;
    display: none;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: $zindex-form;
  }

  &--disabled {
    .at-switch__switch {
      opacity: $opacity-disabled;
    }

    .at-switch__mask {
      display: block;
    }
  }

  &__desc {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    margin-top: #{$spacingUnit}px;

    &_icon {
      margin-right: #{$spacingUnit}px;
    }
    &.primary {
      color: $palettePrimaryMain;
    }
    &.secondary {
      color: $paletteSecondaryMain;
    }
    &.progress {
      color: $paletteProgressMain;
    }
    &.warning {
      color: $paletteWarningMain;
    }
    &.success {
      color: $paletteSuccessMain;
    }
    &.error {
      color: $paletteErrorMain;
    }
    .auto {
      flex: 1;
      text-align: right;
    }
  }
}
