@import '../../taro-material/styles/theme.scss';

.root {
  display: flex;
  flex-direction: column;
  background: $paletteBackgroundDefault;

  .body {
    min-height: calc(100vh);

    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify: center;
  }

  .title {
    font-size: 30px;
    font-weight: 500;
    background: #fff;
    border-left: 10px solid #03a9f4;
    border-bottom: 1px solid #eee;
    padding: 16px;
  }
}
