.root{
  .textareaBox{
    // display: none;
  }
  .fakeTextarea{
    position: relative;
    width: 100%;
    min-height: 200px;
    padding: 0.384rem;
    width: 100%;
    // font-size: 0.68267rem;
    // overflowY: auto;
    font-size: 32px;
    line-height: 1.5;
    border-radius: 0.17067rem;
    background-color: #FFF;
    box-sizing: border-box;
    border-top: 1PX #e2ecf4 solid;
    border-bottom: 1PX #e2ecf4 solid;
    border-right: 1PX #e2ecf4 solid;
    border-left: 1PX #e2ecf4 solid;
    padding-bottom: 60px;
    word-break: break-all;
    .placeholder{
      color: #C9C9C9;
    }
    .count{
      position: absolute; 
      right: 0.384rem;
      bottom: 0.384rem;
      color: #C9C9C9;
    }
  }
}