.root {
  .textareaBox {
    // display: none;
  }
  .fakeTextarea {
    position: relative;
    width: 100%;
    min-height: 200px;
    padding: 0.384rem;
    width: 100%;
    // font-size: 0.68267rem;
    // overflowY: auto;
    font-size: 32px;
    line-height: 1.5;
    background-color: #fff;
    box-sizing: border-box;
    border-top: 1px #e2ecf4 solid;
    border-bottom: 1px #e2ecf4 solid;
    border-right: 1px #e2ecf4 solid;
    border-left: 1px #e2ecf4 solid;
    padding-bottom: 60px;
    word-break: break-all;
    .placeholder {
      color: #c9c9c9;
    }
    .count {
      position: absolute;
      right: 0.384rem;
      bottom: 0.384rem;
      color: #c9c9c9;
    }
    .rounded {
      border-radius: 0.17067rem;
    }
  }
}
