@import "../styles/theme.scss";

.container-window {
	position: fixed;
	bottom: #{$spacingUnit * 2}px;
	right: #{$spacingUnit * 2}px;
	opacity: #{$paletteActionHoverOpacity * 10};
	display: none;
	z-index: $zIndexBackTop;

	&.visibility {
	 	display: block
	}
}